.searchArea {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(133, 139, 255);
  background: linear-gradient(
    45deg,
    rgba(133, 139, 255, 1) 19%,
    rgba(127, 255, 240, 1) 67%
  );
  box-shadow: 2px 2px 5px 0px rgba(161, 161, 161, 0.75);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(161, 161, 161, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(161, 161, 161, 0.75);
  border-radius: 0 0 60% 30%;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchInput {
  width: 70%;
  padding: 1rem 2rem;

  border-radius: 50px;
  border: none;
  outline: none;
  background-color: rgb(243, 243, 243);
  font-size: ;
}

.searchBtn {
  padding: 1rem 2rem;
  background-color: coral;
  border-radius: 50px;
  margin-left: 1rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  outline: none;
  box-shadow: 1px 1px 6px 0px rgba(255, 101, 101, 0.75);
  -webkit-box-shadow: 1px 1px 6px 0px rgba(255, 101, 101, 0.75);
  -moz-box-shadow: 1px 1px 6px 0px rgba(255, 101, 101, 0.75);
  transition: all 0.3s ease-in-out;
}

.searchBtn:hover {
  background-color: rgb(255, 156, 156);
  box-shadow: 1px 1px 6px 0px rgb(255, 156, 156);
  -webkit-box-shadow: 1px 1px 6px 0px rgb(255, 156, 156);
  -moz-box-shadow: 1px 1px 6px 0px rgb(255, 156, 156);
}
